/* Styles for the User Page */
.user-page-container {
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
  min-height: 100vh;
}

.user-page-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fcfcfc;
  color: white;
}
.title {
  font:bolder
}

.youtube-logo {
  height: 50px;
  margin-right: 20px;
}

.user-page-main {
  margin-top: 20px;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.video-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.video-item h3 {
  margin: 10px;
  font-size: 16px;
}
